header {
  background: #fff none repeat scroll 0 0;
  border-bottom: 3px solid #f3f3f3;
  left: 0;
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header > .navbar-default {
	background: transparent;
	border: 0;
	margin: 0;
	height: 85px;
}
header .btn {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  border-radius: 0;
  font-size: 32px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 50px;
}
header .btn-left {
	position: absolute;
	top: 20px;
	left: 15px;
}
header .btn-left:hover {
	color: #455b55;
}
header .btn-right {
  color: #999999;
  padding-top: 4px;
  position: absolute;
  right: 0;
  top: -4px;
}
header .btn-right:hover {
  color: #54595f;
}
header .btn-right i {
  float: right;
  margin-top: -6px;
  transition: all 0.1s ease-out 0s;
}
header .btn-right.toggled i {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
header .logo {
  margin: 0;
  width: 136px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
header .navbar-fixed-bottom .navbar-collapse, header .navbar-fixed-top .navbar-collapse {
	max-height: none;
}
header .navbar-collapse {
	padding: 0;
}
header .interactions {
	padding: 0;
	margin: 0;
	background: #f8f8f8;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

@media (min-width: 767px) {
header .navbar-collapse.interactions {
	display: none !important;
}
}

@media (min-width: 768px) {
header .navbar-collapse.interactions.in {
	display: block !important;
}
}
header .services {
	overflow: hidden;
	margin: 20px;
}
header .interactions h2 {
	font-size: 16px;
	color: #404857;
	margin: 0 0 20px;
}
header .interactions .service {
	text-transform: uppercase;
	border: 2px solid #467ed0;
	padding: 10px;
	display: block;
	margin: 0 0 10px;
	color: #404857;
	font-weight: 400;
	border-radius: 2px;
}
header .interactions ul {
	text-align: center;
	padding: 0;
	margin: 0;
}
header .interactions .app-links li {
	list-style: none;
	display: inline-block;
}
header .interactions .app-links img {
	max-width: 200px;
}
header .interactions .controls {
	margin: 30px 0 0;
}
.logo_wrapper {
  float: left;
  width: 50%;
}
.hd_right {
  float: left;
  margin-top: 6px;
  width: 50%;
}
.header_notification {
  float: right;
  font-size: 20px;
  height: 34px;
  line-height: 26px;
  margin-right: 50px;
  margin-top: -7px;
  text-align: center;
  width: 49px;
}
.navbar.navbar-default {
  margin-top: 30px;
  padding-bottom: 19px;
}
.hd_right .btn.btn-right::after {
  background: #f28964 none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 50%;
  content: "";
  height: 15px;
  position: absolute;
  right: -4px;
  top: 0px;
  width: 15px;
}
.hn_box > a {
  border: 3px solid;
  border-radius: 4px;
  color: #999;
  display: block;
  float: right;
  font-size: 13px;
  font-weight: 400;
  height: 28px;
  line-height: 24px;
  margin-top: 1px;
  padding: 0;
  width: 39px;
}
.hn_box > a:hover, .add-new-qsn .hn_box > a, .add-new .hn_box > a, .add-qsn-success .hn_box > a {
  background: #999 none repeat scroll 0 0;
  border-color: #999;
  border-style: dotted;
  border-width: 1px;
  color: #fff;
}
.nav-expandable {
  background: #fff none repeat scroll 0 0;
  border-bottom: 3px solid #f3f3f3;
  display: none;
  padding: 20px 0;
  position: relative;
  z-index: 10;
}
#nav-expanded ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#nav-expanded ul li {
  display: block;
}
#nav-expanded ul li a {
  color: #bfbfbf;
  display: block;
  font-family: Montserrat;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
}
#nav-expanded ul li a:hover {
  color: #f28964;
  text-decoration: none;
}
.hn_box img {
  width: 40px;
}