/* toolkit.css:7836 */
@media (max-width: 767px){
  .hidden-xs {
    display: block !important;
  }
}

.navbar-header{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-header::after{
  display: table;
  content: "";
  clear: both;
}
.qt{
  display: none;
}
.qt , .ad{
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-right li{
  height: 100%;
}
.navbar-right .navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px){
/* toolkit.css:4944 */
  .navbar-right {
    float: right !important;
    margin-right: 0 ;
  }
}

@media (max-width: 768px){
  /* toggle add question and ?  */
  .ad{
    display: none;
  }
  .qt{
    display: inline-block;
  }
  #question_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}

.app-notifications {
  margin-left: 3px;
  padding-bottom: 6px !important;
}

.navbar-form{
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px){
/* toolkit.css?_ca…272966513:4880 */
  .navbar-form {
    padding: 0 15px;
  }

}

.icon.icon-bell{
  display: block;
}

.time-select-alignment {
text-align:center;
margin-top:10px;
}
import 'vue-smooth-picker/dist/css/style.css'

