/* toolkit.css:7836 */
@media (max-width: 767px){
  .hidden-xs {
    display: block !important;
  }
}

.navbar-header{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-header::after{
  display: table;
  content: "";
  clear: both;
}
.qt{
  display: none;
}
.qt , .ad{
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-right li{
  height: 100%;
}
.navbar-right .navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
 .navbar-nav .icon-pgeon{
   padding-right: 5px;
   font-size: 26px;
   vertical-align: sub;
 }

@media (min-width: 768px){
/* toolkit.css:4944 */
  .navbar-right {
    float: right !important;
    margin-right: 0 ;
  }

  .navbar-nav .icon-pgeon{
    display: none;
  }
}

@media (max-width: 768px){
  /* toggle add question and ?  */
  .ad{
    display: none;
  }
  .qt{
    display: inline-block;
  }
  #question_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}

.app-notifications {
  margin-left: 3px;
  padding-bottom: 6px !important;
}

.navbar-form{
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px){
/* toolkit.css?_ca…272966513:4880 */
  .navbar-form {
    padding: 0 15px;
  }

}
.icon-circle-with-plus.icon::before{
  transition: transform 0.1s ease-in-out;
}
.button-open .icon::before{
  transform: rotate(45deg) scale(1);
  transform-origin: center;
}


.icon.icon-bell{
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4440vm');
  src:  url('../fonts/icomoon.eot?4440vm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4440vm') format('truetype'),
    url('../fonts/icomoon.woff?4440vm') format('woff'),
    url('../fonts/icomoon.svg?4440vm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expert:before {
  content: "\e900";
  color: #999;
}
.icon-junior:before {
  content: "\e901";
  color: #999;
}
.icon-novice:before {
  content: "\e902";
  color: #999;
}
.icon-pgeon:before {
  content: "\e903";
  color: #999;
}
.icon-uncertified:before {
  content: "\e904";
  color: #999;
}
.icon-veteran:before {
  content: "\e905";
  color: #999;
}

import 'vue-smooth-picker/dist/css/style.css'
