.navbar-header{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-header::after{
  display: table;
  content: "";
  clear: both;
}
.qt{
  display: none;
}
.qt , .ad{
  /*padding-left: 5px;
  padding-right: 5px;*/
}
.navbar-right li{
  height: 100%;
}
.navbar-right .navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 1px;
}

.navbar-nav {
  margin:0px;
}
@media (min-width: 768px){
/* toolkit.css:4944 */
  .navbar-right {
    float: right !important;
    margin-right: 0 ;
  }
}

.app-notifications {
  margin-left: 3px;
  padding-bottom: 6px !important;
}

.navbar-form{
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px){
/* toolkit.css?_ca…272966513:4880 */
  .navbar-form {
    padding: 0 15px;
  }
}

/* new nav and stuff  */

.with-home-nav {
  padding-top: 0;
}
.navbar-relative, .navbar-fixed-bottom {
  position: relative;
}

.mr30{
margin-right: 30px;
}

.up50{
  transform: translateY(-55px);
}

::-webkit-scrollbar {
  display: none;
}

.nav_all{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 200ms ease;
  z-index: 2;
}

.content {
  margin-top: 115px;
  position: relative;
}
.app-navbar{
  /*background: transparent;*/
}
.nav_all{
  background: #fff;
  border-bottom: 1px solid #E6EAEB;
}

.second-nav{
  padding: 0px 5px 0px 0px;
  margin-bottom: -1px;
}

.iconav-nav{
  display: flex;
  align-items: center;
}

.iconav-nav .f-right{
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  color: #999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.active-container{
  background-color: #D1D4D5;
  box-shadow: none;
}

.active-response-container{
  background-color: #E0E1E3;
  box-shadow: none;
}



/* copied from html files */
/* profile/index */
.main {
  font-family: inherit;
  width: 300px;
  display: block;
  margin: 0 auto;
}

.action {
  display: block;
  margin: 50px auto;
  width: 100%;
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.no-height {
  max-height: 0;
}

.dropdown-menu {
  width: 180px;
  padding: 0;
}

.dropdown-user:hover,
.dropdown-user.pg-state-hover {
  background: #24c4bc;
  color: white;
}

.header-nav {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-nav h4 {
  flex: 1;
  text-align: center;
}

.nav-contain {
  background-color: #fff;
  border-bottom: 1px solid #E6EAEB;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 15px;
}

.most-responded,
.user-info,
.top-responders {
  overflow: scroll;
}


/* profile/index */
.user-data div.user-meta {
  margin: 20px 0;
}

.top-header {
  padding: 10px 15px 20px 15px;
  background-color: #fff;
  border-bottom: 1px solid #E6EAEB;
  line-height: 1.6;
}

.top-header div {
  max-width: 200px;
  margin: 0 auto;
  position: relative;
}

.top-header h4 {
  text-align: center;
  margin: 0;
}

.top-content-item-img {
  width: 32px;
  margin-right: 10px;
  border-radius: 100%;
}

.top-content-item {
  display: block;
  padding: 15px 0;
  box-shadow: -1px 1px 0 0.1px #f8f9f9;
  transition: all .2s ease;
  text-align: center;
}

a.top-content-item:focus {
  text-decoration: none;
  color: #535353;
  background-color: #E5E9EA;
}

.top-content-container {
  position: relative;
}

.top-content {
  max-height: calc(100vh - 213px);
  overflow: scroll;
}

@media (min-width: 500px) {
  .top-content {
    max-height: calc(100vh - 225px);
  }
}

@media (min-width: 766px) {
  .top-content {
    max-height: calc(100vh - 246px);
  }
}

.top-content-item div {
  width: 275px;
  display: inline-block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.responses-to-display {
  position: absolute;
  background: #F8F9F9;
}

.show-responses {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.back-btn {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #24C4BC;
  font-size: 1.5em;
}

.top-content-item h5 {
  display: inline;
  vertical-align: middle;
  margin: 0;
}

.responses-to-display div {
  max-width: 750px;
  margin: 0 auto;
}

.arrow-forward,
.arrow-back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #24C4BC;
}

.arrow-forward svg,
.arrow-back svg {
  font-size: 1.5em;
  vertical-align: text-top;
}

.arrow-forward {
  right: 0;
}

.arrow-back {
  left: 0;
}

.disabled svg {
  color: #ddd;
}


/* question-selected/no-responses.html  */
.header-nav {
  display: flex;
  align-items: center;
}

.header-nav h4 {
  /*flex: 1;
  text-align: center;*/
}

.header-img {
  border-radius: 50%;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  padding: 0;
  position: relative;
  width: 34px;
  z-index: 0;
}

.header-dropdown {
  right: 0 !important;
  left: auto;
}


.live-media-question{
  overflow: hidden;
}
.overlay{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  /* transform: translateY(-100%); */
  opacity: 0;
  transition: opacity 0.5s ease;
  background: transparent;
}

.active-container .overlay{
  /* transform: translateY(0%); */
  opacity: 1;
}

.overlay{
  display: flex;
}
.overlay div {
  background: rgba(63,68,84,0.5);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* pending/index */

.vote-count {
  justify-content: center;
  align-items: center;
}

input.pending-radio[type="radio"] {
  display: none;
}

.pending-radio + label {
  background-color: #f6f7f9;
  border-radius: 10px 10px 0px 10px;
  padding: 10px 15px;
  position: relative;
  display: flex;
  transition: 200ms all;
  box-shadow: 0 0 0 100px #eaeaea inset;
  border-color: black;
}

.btn-container {
  position: relative;
}

/* checked */

input.pending-radio[type="radio"]:checked+label .icon {
  display: inline-block;
}

input.pending-radio[type="radio"]:checked+label .icon {
  display: inline-block;
}

input.pending-radio[type="radio"]:checked+label {
  background-color: #3fc3ad;
  color: white;
}

input.pending-radio[type="radio"]:checked+label span:before,
input.pending-radio[type="radio"]:checked+label span,
input.pending-radio[type="radio"]:checked+label #counter span {
  color: white;
}

/* effect */

input.pending-radio:checked+label {
  box-shadow: 0 0 0 -1px #FFF inset;
  color: #FFF;
  background-color: #66cc99;
}



/* published/edit */
.media-list-conversation {
  position: relative;
}

.answer-bubble.checked .first #overlay,
.answer-bubble.checked .second #overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 114, 113, 0.15);
  z-index: 2;
  border-radius: 0px 10px 0px 10px;
}

.answer-bubble.checked .second #overlay {
  margin-top: 7px;
  border-radius: 10px 10px 0px 10px;
}

.answer-bubble {
  transition: all 500ms cubic-bezier(0.84, -1.42, 0, 2.63);
  overflow: hidden;
  max-height: 500px;
}

.answer-bubble.deleted {
  margin: 0;
  max-height: 0;
}

/* published/edit.html */

.header-nav {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.header-nav h4 {
  flex: 1;
  text-align: center;
  margin: 4px 4px;
}

.deleteNum{
    position: absolute;
    display: none;
    right: 0;
}

/* question-selected/index */
.live-media-question{
  overflow: hidden;
}
.qsi-overlay{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: transparent;
}

.active-container .qsi-overlay{
  opacity: 1;
}

/* .qsi-overlay{
  display: flex;
}
.qsi-overlay div {
  background: rgba(63,68,84,0.6);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
} */


.vote-up{


}
.vote-down{



}

.vote-none{


}

.responded-count{
  color: #24b4bc;
  margin: 0;
  font-size: 16px;
}
.social-icons{
  fill: #fff;
  margin: 10px;
  width: 32px;
  height: auto;
}


/*** EDITED by Prasanth ***/
#vote svg {
	/** taken from auto generated css of fa **/
	vertical-align:-12.5%;
}

svg .arrow-circle-up ,svg .arrow-circle-down, svg .circle{

  		
	shape-rendering: geometricprecision;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
	}
	
svg .arrow-circle-up  {
  fill: #3fc3ad;
	
}
svg .arrow-circle-down{
  fill: #da7a82;
  }

svg .circle{
  fill: #e0e1e3;
  
}


.red {
	color:red;
}

/*hover icon effect*/
div a.icon {
  padding: 8px;
  line-height: 1;
  opacity: 0.37;
  border-radius: 50%;
}
div a.icon:hover {
  opacity: 0.72;
  background: rgba(0, 0, 0, 0.1);
}
div a.icon:focus {
  text-decoration: none;
  color: #535353;
  background-color: #E5E9EA;
}
.back-arrow{
  font-size: 20px !important;
  color: #75797E;
  text-decoration: none;
  outline: none;
}
.ellipsis{
  font-size: 24px !important;
  margin-right: 10px;
  color: #75797E;
  text-decoration: none;
  outline: none;
}

.load_more {
	text-align: center;
	list-style: none;
    width: 250px;
    margin: auto;
    cursor:pointer;
    margin-bottom:25px;
}


/** PRESS taken out from question-selected/new-index.html **/
.stats {
  box-sizing: border-box;
}
.relative {
  position: relative;
}
.bg-F8F9F9 {
  background-color: #F8F9F9;
}
.ph3 {
  padding-left: 2%;
  padding-right: 2%;
}
    .tc {
  text-align: right;
}

.divide:before {
  background: rgba(0, 0, 0, 0.1);
  content: "";
  height: 1px;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 10px;
  width: 90%;
  z-index: -1;
}
