/*-------------------------------------------------------
	Base
-------------------------------------------------------*/
/*$font-effra: "effra", Helvetica, Arial, sans-serif;
$font-ingra: "ingra", Helvetica, Arial, sans-serif;
$font-essones: "essonnes-headline",serif;
$font-proxima: "proxima-nova",sans-serif;*/
html, body {
  height: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #49615B;
  background: #f9f9f9;
  position: relative; }

a, a:link, a:visited, a:hover, a:active {
  color: #49615B;
  text-decoration: none; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal; }

h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500; }

ul {
  margin: 0; }

label {
  font-weight: normal; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f2f2f3; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border: 0; }

/*-------------------------------------------------------
	Typography
-------------------------------------------------------*/
.page-header {
  font-size: 16px;
  border: 0;
  margin: 20px 0 30px;
  padding: 0;
  text-align: center; }

/*-------------------------------------------------------
	Buttons
-------------------------------------------------------*/
/*-------------------------------------------------------
	Buttons
-------------------------------------------------------*/
.btn {
  display: block;
  font-size: inherit;
  outline: none !important;
  /*	&.btn-default {
  		color: #fff;
  		background: #fff;
  		font-weight: normal;	
  		text-transform: uppercase;
  		border-radius: 4px;
  		height: 50px;
  		line-height: 48px;
  		padding: 0 40px;	
  
  		&:hover {
  			background: $dark-mint;
  			border-color: $dark-mint;
  			color: #fff;
  		}
  	}*/ }
  .btn.focus, .btn:focus {
    outline: none; }
  .btn.active, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    color: #fff;
    background: #6e839b;
    font-weight: normal;
    font-size: 18px;
    border: 0;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    max-width: 250px; }
    .btn.btn-primary:hover {
      color: #fff; }

/*-------------------------------------------------------
	Nav
-------------------------------------------------------*/
.navbar {
  width: 600px;
  margin: 0 auto;
  border: 0;
  height: 90px;
  z-index: 200;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  .navbar.toggled {
    background-color: #000; }
  .navbar.navbar-default {
    background-color: #fff; }
    .navbar.navbar-default .navbar-header {
      padding: 15px 0 0;
      position: relative; }
    .navbar.navbar-default .add-question {
      position: absolute;
      right: 30px;
      top: 30px; }
      .navbar.navbar-default .add-question img {
        width: 35px;
        height: auto; }
    .navbar.navbar-default .navbar-brand {
      display: block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      color: #fff;
      margin: 13px 0 0 30px;
      padding: 0;
      height: auto;
      text-align: center; }
      .navbar.navbar-default .navbar-brand .logo {
        width: 130px;
        height: auto; }
    .navbar.navbar-default .navbar-nav {
      float: left;
      margin: 0 -10px 0 0; }
      .navbar.navbar-default .navbar-nav > li > a {
        color: #fff;
        -webkit-transition: color 0.1s ease;
        -moz-transition: color 0.1s ease;
        -o-transition: color 0.1s ease;
        transition: color 0.1s ease;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 50px;
        font-weight: 400;
        padding: 0; }
        .navbar.navbar-default .navbar-nav > li > a:focus, .navbar.navbar-default .navbar-nav > li > a:hover, .navbar.navbar-default .navbar-nav > li > a.active {
          color: #fff; }
        @media (min-width: 768px) {
          .navbar.navbar-default .navbar-nav > li > a {
            line-height: 90px;
            padding: 0 12px 0; } }
    @media (max-width: 767px) {
      .navbar.navbar-default.in .navbar-nav {
        padding-bottom: 10px;
        width: 100%; } }
    .navbar.navbar-default .navbar-toggle {
      position: absolute;
      right: 0;
      float: none;
      margin-top: 15px;
      margin-bottom: 0;
      margin-right: 10px;
      border: 0;
      border-radius: 0;
      width: 40px;
      height: 40px; }
      .navbar.navbar-default .navbar-toggle:focus, .navbar.navbar-default .navbar-toggle:hover {
        background-color: transparent; }
      .navbar.navbar-default .navbar-toggle .icon-bar {
        height: 1px;
        border-radius: 0;
        background-color: #333; }
        .navbar.navbar-default .navbar-toggle .icon-bar + .icon-bar {
          margin-top: 5px; }

.navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.collapsing {
  -webkit-transition: height .15s ease;
  -o-transition: height .15s ease;
  transition: height .15s ease; }

.icon-plus {
  /*	background: url(../img/icon-plus.png);*/
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  margin-top: -10px;
  margin-left: -10px;
  -webkit-transition: .1s all ease-out;
  transition: .1s all ease-out; }

.icon-plus .icon-bar-h {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  top: 9px;
  right: 0;
  background-color: #fff; }

.icon-plus .icon-bar-v {
  display: block;
  position: absolute;
  height: 20px;
  width: 2px;
  left: 9px;
  background-color: #fff; }

.collapsed .icon-plus {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.icon-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/*-------------------------------------------------------
	Layout
-------------------------------------------------------*/
.wrap {
  width: 600px;
  margin: 0 auto; }

.content {
  padding-top: 100px; }

/*-------------------------------------------------------
	Content
-------------------------------------------------------*/
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #ffe732;
  color: #ffe732;
  font-weight: 400; }
