h1 {
  color: #333;
  font-family: arial, sans-serif;
  margin: 1em auto;
  width: 80%;
}

.tabordion {
  color: #333;
  display: table;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: table-cell;
}

.tabordion section label {
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
}

.tabordion section article {
  left: 0;
  padding: 0 0 0 21px;
  position: absolute;  
  display: none;
}

.tabordion input[name="sections"]:checked + label { 
  background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}

/* accordion */
@media (max-width: 768px) { 
  .tabordion {
    display: block;
    font-size: .9em;
    width: 90%;
	}
  .tabordion section {
    display: block;
  }  
  .tabordion section article {
    position: static;
  }  
}