#vote{
  background-color: transparent;
}

#vote:focus,#vote.pg-state-focus{
  outline: 0;
}

#vote h1{
  font-size: 14pt;
  color: #999;
  font-family: 'Ropa Sans', sans-serif;
}


.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.flex-center p {
  margin: 0;
}

.close-footer{
  display: none;
  position:absolute;
  top: 0;
  right:0;
  padding:10px;
}

.flexone{
  flex: 1;
}
.icon-thumbs-up{
  color: #66cc99
}

.navbar-fixed-bottom.footer-toggle{
  height: auto;
  transition: height 1s ease-in;
}

.footer-closed{
  height: 0 !important;
}

.footer-opened{
  height: auto;
}


.container.sub-nav2{
  padding: 15px 10px;
}

.footer-textarea.scroll::-webkit-scrollbar {
  display: none;
}

textarea#footer-textarea {
  resize: none;
  margin-right: 5px;
  display:block;
  border-radius:4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-smoothing:subpixel-antialiased;
  border-right: 0px;
  border: 1px solid white;
}
.btn.footer-btn{
  background:#fff;
  border-radius:4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
}
.sub-nav2{
  position: relative;
}

.charlimit {
  bottom: 4px;
  z-index: 100;
  position: absolute;
  bottom: 4;
  right: 14px;
}

.footer-btn:active:hover{
  background-color: #C9CCD4;
  /* border-color: #133d55;  */
}

.click-to-reply{
  display: block;
  margin-top: 12px;
  margin-left: 10px;
}

.loading{
  margin-top: 12px;
  margin-left: 10px;
  display: none;
  color: #c9ccd4;
  margin-left: 10px;
}

.jsvote{
  cursor: pointer;
}

/* selection disable */
.jsvote ::-moz-selection{
  background-color: transparent;
  color: transparent;
}

.jsvote ::selection {
  background-color: transparent;
  /* color: transparent; */
}
